{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% load i18n %}

{% block sidebar %}
{% endblock %}

{% block main_content %}

    <h1>Signup</h1>

    <p>Thank you for registering. An email has been sent to you with an activation link: you will need to click that link in order to activate your account.</p>

    <p>The e-mail will be sent from <em>djangosites@djangosites.org</em> so it may pay to add that address to your contact list or spam 'white list' to make sure it arrives OK.</p>

{% endblock %}
