{% extends "base.html" %}
{% block title %}{{ page_title }}{% if has_previous %} | Page {{ page }}{% endif %}{% endblock %}

{% block main_content %}
{% load truncate %}
{% load voting_tags %}
{% scores_for_objects website_list as score_dict %}

            <h1>{{ page_title }}: {{ tag.name }}</h1>

            {% for website in website_list %}
            {% dict_entry_for_item website from score_dict as score %}
                <div class="website_wrapper">
                    <div class="website_preview">
                        <p class="header"><span class="title"><a href="{{ website.url }}">{{ website.title|truncate_dot:25 }}</a></span> <span class="score">+{{ score.score|default:0 }}</span></p>
                        <a href="{{ website.get_absolute_url }}"><img src="{{ website.screenshot_url }}" alt="{{ website.title }}"></a>
                        <p class="info">{{ website.owner.get_full_name|default:website.owner.username }} <span class="date">{{ website.created|date:"j/m/y" }}</span></p>
                    </div>
                </div>
            {% endfor %}

            {% if is_paginated %}
                <p class="paginator">
                {% if has_previous %}<a href="?page={{ previous }}" title="Previous page">&laquo; Previous</a>{% endif %}
                {% if has_next %} &bull; <a href="?page={{ next }}" title="Next page">Next &raquo;</a>{% endif %}
                </p>
                {% endif %}

{% endblock %}


{% block sidebar %}
                <div id="tag-cloud">
                    <h2>Tags</h2>
                    <ul>
                    {% for tag in related_tag_cloud %}
                        <li><a href="/tag/{{ tag.name }}/" class="tag-{{ tag.font_size }}">{{ tag.name }}</a></li>
                    {% endfor %}
                    </ul>
					<p class="bottom"><a href="/tags/">View All Tags</a></p>                    
                </div>
{% endblock %}

