{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content_class %} class="one-column"{% endblock %}

{% block main_content %}

        <h1>{{ page_title }}</h1>

        {% if not editing %}
            <p>Got a website that's powered by Django? Enter the website details below and it'll be added to our index.</p>

            <p>Because we display beautiful thumbnails of websites on our homepage, for safety reasons we <strong>manually verify all submissions</strong>. As such, please allow up to 48 hours for your website to be checked.</p>

            <p><strong>Is your site already listed?</strong> Don't re-submit it just to make changes. <a href='/author/{{ request.user.username }}/'>View your pages profile</a> and click the 'Edit' link to make changes.</p>
        {% else %}
            <p>Editing a site will change it to <strong>unverified</strong> until we re-verify it. This helps us keep the thumbnails clean and suitable.</p>

            <p>This means that your site will <strong>not</strong> be visible after you edit it, until we review it and publish it again.</p>
        {% endif %}

        <form action="./" method="post">{% csrf_token %}
            <ul>{% for e in form.errors.items %}<li>{{ e.0 }}: {{ e.1|join:", " }}</li>{% endfor %}</ul>

            <fieldset>
                <legend>{{ page_title }}</legend>
		        
                <p><label for="id_title" class="required{% if form.title.errors %} error{% endif %}">Title:</label><br>{{ form.title }}{% if form.title.errors %}<span class="formerror">{{ form.title.errors|join:", " }}</span>{% endif %}<br>The title of your website, which you <strong>must type in English</strong>.</p>
		        
                <p><label for="id_url" class="required{% if form.url.errors %} error{% endif %}">URL:</label><br>{{ form.url }}{% if form.url.errors %}<span class="formerror">{{ form.url.errors|join:", " }}</span>{% endif %}<br>Your websites URL (Must be accessible from the world wide web)</p>
		        
                <p><label for="id_description" class="required{% if form.description.errors %} error{% endif %}">Description:</label><br>{{ form.description }}{% if form.description.errors %}<span class="formerror">{{ form.description.errors|join:", " }}</span>{% endif %}<br>A brief summary of your website (Markdown is permitted). Please keep your description in English, or in your native language with an English translation.</p>
                
                <p><label for="id_language" class="required{% if form.language.errors %} error{% endif %}">Language:</label><br>{{ form.language }}{% if form.language.errors %}<span class="formerror">{{ form.language.errors|join:", " }}</span>{% endif %}<br>What language is your content in? Please select the <em>primary</em> lingual audience for your website.</p>
		        
                <p><label for="id_tags" class="{% if form.tags.errors %} error{% endif %}">Tags:</label><br>{{ form.tags }}{% if form.tags.errors %}<span class="formerror">{{ form.tags.errors|join:", " }}</span>{% endif %}<br>Space-separated tags describing your website. Please try not to use generic tags such as "django" unless your site is actually <em>about</em> Django.</p>
		
		        <p><label for="id_source_url" class="{% if form.source_url.errors %} error{% endif %}">Source Code URL:</label><br>{{ form.source_url }}{% if form.source_url.errors %}<span class="formerror">{{ form.source_url.errors|join:", " }}</span>{% endif %}<br>If the source code is available for this website, put the URL to the source code (or a website containing the code) here. This is purely optional.</p>
		        
            </fieldset>               

            <fieldset>
                <legend>Deployment Details</legend>

                <p><strong>Note about deployment details:</strong> It'd be awesome if you could tell us about how you deployed this Django website. We will <em>not</em> link these details to your website on any published webpage, however we do publish <a href='/stats/'>Django deployment information <em>in aggregate</em></a>.</p>

                <p>These details are optional.</p>
		        
                <p><label for="id_deployment_os" class="{% if form.deployment_os.errors %} error{% endif %}">Operating System:</label><br>{{ form.deployment_os }}{% if form.deployment_os.errors %}<span class="formerror">{{ form.deployment_os.errors|join:", " }}</span>{% endif %}</p>

                <p><label for="id_deployment_webserver" class="{% if form.deployment_webserver.errors %} error{% endif %}">Webserver:</label><br>{{ form.deployment_webserver }}{% if form.deployment_webserver.errors %}<span class="formerror">{{ form.deployment_webserver.errors|join:", " }}</span>{% endif %}</p>

                <p><label for="id_deployment_database" class="{% if form.deployment_database.errors %} error{% endif %}">Database Backend:</label><br>{{ form.deployment_database }}{% if form.deployment_database.errors %}<span class="formerror">{{ form.deployment_database.errors|join:", " }}</span>{% endif %}</p>

                <p><label for="id_deployment_method" class="{% if form.deployment_method.errors %} error{% endif %}">Method:</label><br>{{ form.deployment_method }}{% if form.deployment_method.errors %}<span class="formerror">{{ form.deployment_method.errors|join:", " }}</span>{% endif %}</p>

                <p><label for="id_deployment_python" class="{% if form.deployment_python.errors %} error{% endif %}">Python Version:</label><br>{{ form.deployment_python }}{% if form.deployment_python.errors %}<span class="formerror">{{ form.deployment_python.errors|join:", " }}</span>{% endif %}</p>
                
                <p><label for="id_deployment_django" class="{% if form.deployment_django.errors %} error{% endif %}">Django Version:</label><br>{{ form.deployment_django }}{% if form.deployment_django.errors %}<span class="formerror">{{ form.deployment_django.errors|join:", " }}</span>{% endif %}</p>

                <p>Using a system not included in the above options? Please <a href='mailto:djangosites@djangosites.org'>let us know</a>, so we can try to gain accurate statistics on Django deployment in the wild.</p>
            </fieldset>

            {% if editing %}<fieldset>
                <legend>Re-Take Screenshot?</legend>

                <p>Do you want us to re-do the screenshot for this website? Just tick the box below.<?p>

                <p><label for="id_redo_screenshot">Redo Screenshot?</label><br>{{ form.redo_screenshot }} <label for="id_redo_screenshot" style='font-weight: normal;'>Yes, please!</label></p>

            </fieldset>{% endif %}

            <fieldset>
                <p><input type="submit" value="{% if not editing %}Add Site and Request Verification{% else %}Save Changes and Request Re-Verification{% endif %}" class="send"></p>
            </fieldset>
        </form>

{% endblock %}
