{% extends "base.html" %}

{% block content_class %} class="one-column"{% endblock %}

{% block main_content %}
<h1>Change Password</h1>

<p>This is where you can change your password. Make sure you remember it!</p>
{% if form.errors %}
<p class="errors">Please correct the errors below:<br>
{{ form.errors }}
</p>
{% endif %}

<form action="" method="post" accept-charset="utf-8">{% csrf_token %}
        <fieldset>
            <legend>Change Your Password</legend>
		    <p>{{ form.username }}</p>            
		    <p><label for="id_old_password">Current password</label><br>{{ form.old_password }}</p>
		    <p><label for="id_new_password1">New password</label><br>{{ form.new_password1 }}</p>
		    <p><label for="id_new_password2">New password (again)</label><br>{{ form.new_password2 }}</p>
            <p><input type="submit" value="Change password"></p>
        </fieldset>
	</form>
{% endblock %}
